*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/*.xml
!.idea/misc.xml
!.idea/encodings.xml
!.idea/inspectionProfiles/
!.idea/codeStyles/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

release_key_store

